.header{
    background: #fff;
    border: none;
    color: #333;
}
.header .left img {
    width: 0.19rem;
    height: auto;
}
.container{
    background: url(../images/detection-tit.png) no-repeat 0 0.88rem;
    background-size: 100% auto;
}
form{
    padding: 0.5rem 0.33rem;
    margin: 0.5rem auto 0.4rem;
    width: 6.4rem;
    background: #fff;
    box-shadow: 0 0 10px #959595;
}
form div{
    margin-bottom: 0.2rem;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.25rem;
    color: #666;
    border: 1px solid #e4e4e4;
}
form div img{
    display: inline-block;
    margin: 0 0.12rem 0 0.25rem;
    width: 0.25rem;
    height: auto;
    vertical-align: middle;
}
form div input{
    padding: 0 0.25rem;
    width: 4.1rem;
    height: 100%;
    text-align: right;
}
form button{
    margin: 0.26rem 0;
    width: 100%;
    line-height: 0.8rem;
    border-radius: 3px;
    color: #fff;
    background: #00bf8f;
}
.bottom{
    margin: 0 auto;
    width: 7.02rem;
}
.bottom img{
    display: inline-block;
    width: 48%;
    height: auto;
}