/*header*/
.header{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    background: #00bf8f;
    border-bottom: 1px solid #008f6b;
    font-size: 0.32rem;
    color: #fff;
    text-align: center;
}
.header .left{
    position: absolute;
    left: 0.25rem;
    font-size: 0.24rem;
}
.header .left img{
    display: inline-block;
    width: 0.19rem;
    height: 0.09rem;
    vertical-align: middle;
}
.header .right{
    position: absolute;
    top: 0;
    right: 0.25rem ;
}
.header .right img{
    display: inline-block;
    width: 0.25rem;
    height: 0.29rem;
}
.main_header{
    position: fixed;
    background: #df4d35;
    height: 0.9rem;
    line-height: 0.9rem;
    width: 100%;
    text-align: center;
    color: #fff;
}
.main_header img{
    float: left;
    margin: 0.2rem 0 0 0.45rem;
    width: 0.3rem;
    height: 0.5rem;
}
.main_header .title{
    display: inline-block;
    font-size: 0.42rem;
}
.main_header .right{
    float: right;
    margin-right: 0.3rem;
    font-size: 0.3rem;
}
/*tab*/
.footer{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #9d9d9d;
    background: #fff;
    width: 100%;
    height: 0.98rem;
    text-align: center;
}
.footer li{
    margin-top: 0.1rem;
}
.footer li img{
    margin: 0 auto 0.1rem;
    height: 0.46rem;
    width: auto;
}
.footer li p{
    font-size: 0.22rem;
    line-height: 0.22rem;
    color: #706c6d;
}
.footer li p.active{
    color: #00bf8f;
}
.container{
    padding: 0.89rem 0 1rem;
}

.main_header1{
    position: fixed;
    width: 100%;
    /*padding: 0 0.3rem;*/
    height: 1.12rem;
    background: #df4d35;

}
.main_header1 .left{
    float: left;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    width: 1.02rem;
    height: 0.48rem;
    line-height: 0.48rem;
    border: 1px solid #fff;
    border-radius: 0.05rem;
    font-size: 0.27rem;
    color: #fff;
    text-align: center;
}
.main_header1 .right{
    float: right;
    margin-top: 0.28rem;
    margin-right: 0.3rem;
    width: 0.44rem;
    height: 0.56rem;
}