.header {
    background: #fff;
    border: none;
    color: #333;
}
.header .left img {
    width: 0.19rem;
    height: auto;
}
.search-box{
    padding: 0.35rem 0;
    background: url("../images/strategyDt-bg.png") no-repeat;
    background-size: 100%;
}
.search {
    margin: 0 auto;
    width: 7.02rem;
    line-height: 0.52rem;
    background: #fff;
    border-radius: 3px;
}

.search img {
    display: inline-block;
    margin: 0 0.14rem 0 0.16rem;
    width: 0.22rem;
    height: auto;
    vertical-align: middle;
}

.search input {
    width: 6rem;
    height: 100%;
}

.strategy{
    padding: 0.2rem 0.24rem 0.2rem;
    background: #fff;
}
.strategy ul li{
    margin-bottom: 0.26rem;
}
.strategy ul li:last-child{
    margin-bottom: 0;
}
.strategy ul .left{
    float: left;
    position: relative;
    width: 2.31rem;
    height: 1.74rem;
}
.strategy ul .left .tip{
    position: absolute;
    top: 0;
    padding-right: 0.15rem;
    background: url("../images/eye-bg.png")
no-repeat right;
    background-size: auto 0.34rem;
}
.strategy ul .left .tip .con{
    padding: 0 0.08rem;
    background: rgba(0,0,0,0.8);
    height: 0.34rem;
    color: #fff;
}
.strategy ul .left .tip .con img{
    width: 0.14rem;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.strategy ul .right{
    margin-left: 2.49rem;
}
.strategy ul .right .title{
    line-height: 0.58rem;
    font-size: 0.28rem;
}
.strategy ul .status{
    margin: 0.06rem 0 0.10rem;
    text-align: center;
    width: 1.2rem;
    line-height: 0.32rem;
    background: #fec153;
    border-radius: 0.04rem;
    color: #fff;
}
.strategy ul .detail{
    line-height: 0.36rem;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
