body{
    background: #f0f0f0;
}
.total{
    margin: 0.3rem 0 0.1rem;
    padding: 0 0.3rem;
    background: #fff;
    height: 1.08rem;
    line-height: 1.08rem;
}
.total p{
    display: inline-block;
}
.total span{
    margin: 0 0.25rem;
}
.total button{
    float: right;
    margin-top: 0.25rem;
    width: 1.4rem;
    height: 0.6rem;
    line-height: 0.6rem;
    background: #df4d35;
    color: #fff;
    border-radius: 0.05rem;
}
.content{
    background: #fff;
}
.content .title{
    padding: 0 0.3rem;
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.3rem;
    font-weight: bold;
}
.order li{
    padding: 0 0.3rem ;
    background: #fff;
    border-radius: 0.05rem;
    font-size: 0.28rem;
    border-top: 1px solid #f0f0f0;
}
.order li .title{
    padding:0 0.15rem;
    height: 0.59rem;
    line-height: 0.59rem;
    border-bottom: 0.01rem solid #d4d4d4;
    font-size: 0.24rem;
    color: #333;
}
.order li .title .status{
    float: right;
}
.order li .order_content{
    padding: 0.15rem;
}
.order li .order_content div{
    line-height: 0.5rem;
    font-size: 0.26rem;
}
.order li .order_content div img{
    width: 0.3rem;
}
.order li .order_content div.content_title{
    font-size: 0.3rem;
    font-weight: bold;
}
.order li .order_content div .right{
    float: right;
    font-size: 0.22rem;
}
.order li .order_content div .right.price{
    font-size: 0.26rem;
}
.order li .last{
    font-size: 0.25rem;
    color: #8d8d8d;
}