.container{
    padding: 0.9rem 0 1rem;
    font-size: 0.3rem;
}
.container .detail .title{
    padding: 0 0.3rem;
    height: 0.9rem;
    line-height: 0.9rem;
    background: #f0f0f0;
    font-size: 0.36rem;
}
.container .detail .content{
    /*padding: 0 0.3rem;*/
    margin-top: 0;
}
.container .detail .content .job_number{
    height: 0.84rem;
    line-height: 0.84rem;
    border-bottom: 1px solid #f0f0f0;
}
.container .detail .content p{
    line-height: 0.6rem;
}
.container .price{
    padding: 0 0.3rem;
    height: 0.88rem;
    line-height: 0.88rem;
    border-top: 0.2rem solid #f0f0f0;
    border-bottom: 0.2rem solid #f0f0f0;
}
.container .price input{
    width: 2rem;
    color: #ffdd03;
    font-size: 0.36rem;
}
.content{
    margin: 0.3rem;
    background: #fff;
    font-size: 0.3rem;
}
.content ul li p:nth-child(2){
    font-size: 0.21rem;
    color: #b3b3b3;
}
.type_title{
    margin: 0.4rem 0 0;
    height: 0.7rem;
}
.content ul li{
    height: 1.22rem;
    border-bottom: 1px solid #e5e5e5;
}
.content ul li img{
    margin: 0 0.25rem 0 0;
    width: 0.61rem;
    height: 0.61rem;
}
.content ul li:nth-child(3) img{
    width: 0.74rem;
    height: 0.49rem;
    margin-right: 0.12rem;
}
.content ul li .middle{
    display: inline-block;
    margin-top: 0.18rem;
}
.content ul li span{
    float: right;
    margin: 0.42rem 0.2rem 0 0;
    width: 0.4rem;
    height: 0.4rem;
    line-height: 0.4rem;
    border: 0.05rem solid #ffdd03;
    border-radius: 50%;
    text-align: center;
    font-size: 0;
}
.content ul li span i{
    vertical-align: middle;
    display: none;
    /*display: inline-block;*/
    width: 0.2rem;
    height: 0.2rem;
    background: #ffdd03;
    border-radius: 50%;
}
.content ul li span i.select{
    display: inline-block;
}
button{
    margin: 0.4rem 20% 0.4rem;
    width: 60%;
    height: 0.6rem;
    line-height: 0.6rem;
    background: #ffdd03;
    border-radius: 0.1rem;
    font-size: 0.3rem;
    color: #fff;
}