/*注册*/
#regist .header{
    height: 0.9rem;
}
#regist .header img{
    display: inline-block;
    margin: 0.2rem 0 0 0.45rem;
    width: 0.3rem;
    height: 0.5rem;
}
#regist .main{
    padding: 0 0.3rem;
}
#regist .main .icon{
    display: block;
    margin: 0.1rem auto;
    height: 2.17rem;
}
#regist .main form div{
    margin-top: 0.5rem;
    height: 0.5rem;
    border-bottom: 1px solid #dbdbdb;
    font-size: 0.36rem;
}
#regist .main form div label{
    display: inline-block;
    width: 2.6rem;
}
#regist .main form div input{
    width: 4rem;
}
#regist .main button{
    margin: 0.62rem 0 0.4rem 0;
    border-radius: .5rem;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background: #ffdd03;
    font-size: 0.42rem;
    color: #fff;
}
#regist .main .agree span{
    margin-left: 0.16rem;
    display: inline-block;
    vertical-align: middle;
    width: 0.14rem;
    height: 0.14rem;
    border: 1px solid #333;
}
#regist .main .agree img{
    display: inline-block;
    vertical-align: top;
    width: 0.14rem;
    height: 0.14rem;
}