body,.container {
    background: #fff;
}
#changeData form{
    padding: 0 0.3rem;
}
form .item{
    height: 1.14rem;
    line-height: 1.14rem;
    border-bottom: 1px solid #e0e0e0;
}
form .item:first-child{
    padding: 0.3rem 0;
}
form .item label{
    display: inline-block;
    width: 25%;
}
form .item .avatar{
    float: right;
    width: 1.07rem;
    height: 1.07rem;
    border-radius: 50%;
}
form .item input{
    float: right;
    text-align: right;
    width: 70%;
    height: 1.14rem;
    line-height: 1.14rem;
    /*margin-left: 0.2rem;*/
}
form p{
    margin: 2.5rem 0 0;
    font-size: 0.26rem;
    color: #cfcecd;
    text-align: center;
}
button{
    margin: 0.4rem 0 0;
    width: 100%;
    height: 0.82rem;
    line-height: 0.82rem;
    background: #00c47d;
    border-radius: 0.05rem;
    font-size: 0.4rem;
    color: #fff;
}
.mask {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.mask .selectSex{
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%;
}
.mask .selectSex .title{
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.36rem;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
}
.mask .selectSex p{
    line-height: 0.8rem;
    text-align: center;
    /*border-bottom: 1px solid #e0e0e0;*/
}