.content{
    margin: 0.3rem;
    padding-bottom: 0.3rem;
    background: #fff;
    font-size: 0.3rem;
}
.content .tab{
    height: 0.92rem;
    line-height: 0.92rem;
    font-size: 0.36rem;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.content .top{
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #e5e5e5;
}
.content .top .item{
    margin-top: 0.2rem;
}
.content .top .item .left {
    display: inline-block;
    width: 1.45rem;
    text-align: center;
}
.content .top .item .right{
    position: relative;
    vertical-align: text-top;
    display: inline-block;
    width: 5.25rem;
    font-size: 0;
}
.content .top .item .right input{
    width: 4.6rem;
    height: 0.47rem;
    line-height: 0.47rem;
    background: #e5e5e5;
    font-size: 0.26rem;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
}
.content .top .item .right span{
    vertical-align: top;
    display: inline-block;
    font-size: 0.26rem;
    width: 0.47rem;
    height: 0.47rem;
    line-height: 0.47rem;
    background: #444444;
    text-align: center;
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
}
.content .top .item .right img{
    display: inline-block;
    margin-top: 0.1rem;
    width: 0.19rem;
    height: 0.3rem;
}
.content .top .item .right img.active{
    transform: rotate(-90deg);
}
.content .top .item .right textarea{
    padding: 0.05rem;
    width: 5.04rem;
    height: 1.47rem;
    background: #e5e5e5;
    border-radius: 0.1rem;
    font-size: 0.26rem;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}
.content .bottom {
    padding: 0 0.2rem;
}
.content .bottom .item {
    margin-top: 0.3rem;
}
.content .bottom .item span{
    display: inline-block;
}
.content .bottom .item div{
    float: left;
    width: 100%;
}
.content .bottom .upload p{
    margin: 0.3rem 0 0.2rem;
}
.content .bottom .upload img{
    width: 1.5rem;
    height: 1.5rem;
}
.bottom_btn{
    display: flex;
    justify-content: space-around;
    margin-top: 0.2rem;
}
.back{
    width: 3rem;
    height: 0.73rem;
    line-height: 0.73rem;
    background: #333333;
    border-radius: 0.05rem;
    font-size: 0.32rem;
    color: #fff;
}
.submit{
    /*margin: 0.3rem 5% 0;*/
    width: 3rem;
    height: 0.73rem;
    line-height: 0.73rem;
    background: #00c47d;
    border-radius: 0.05rem;
    font-size: 0.32rem;
    color: #fff;
}