body,.container {
    background: #fff;
}
.strategy_list{
    padding: 0 0.3rem 0.3rem;
    background: #fff;
}
.strategy_list li{
    padding: 0.29rem 0;
    border-bottom: 1px solid #d6d6d6;
}
.strategy_list li .left{
    float: left;
    margin-right: 0.21rem;
    width: 2.2rem;
    height: 1.72rem;
}
.strategy_list li .right{
    height: 1.72rem;
}
.strategy_list li .right .recommend_title{
    font-size: 0.32rem;
    font-weight: bold;
}
.shop .right .date{
    margin-top: 0.26rem;
    font-size: 0.2rem;
    color: #284179;
}
.strategy_list li .right .des{
    margin-top: 0.15rem;
    font-size: 0.24rem;
    color: #666;
    line-height: 0.4rem;
}