.tab{
    margin: 0.1rem auto 0 ;
    width: 6.9rem;
    height: 0.97rem;
    line-height: 0.97rem;
    border-radius: 0.5rem;
    font-size: 0.36rem;
    color: #999;
}
.tab li{
    float: left;
    /*margin-left: -1px;*/
    width: 24.75%;
    border-right: 1px solid #f5f5f5;
    background: #fff;
    text-align: center;
}
.tab li:last-child{
    border-right: 0;
    border-top-right-radius: 0.08rem;
    border-bottom-right-radius: 0.08rem;
}
.tab li:first-child{
    border-top-left-radius: 0.08rem;
    border-bottom-left-radius: 0.08rem;
}
.tab li.active{
    background: #00c47e;
    color: #fff;
}
.orderConfirm,.public.on{
    display: block;
}
.orderConfirm,.public {
    display: none;
    margin: 0.1rem auto 0.1rem;
    width: 6.9rem;
    background: #fff;
}
.orderConfirm{
    padding-bottom: 0.8rem;
}
.orderConfirm .title{
    padding: 0.38rem 0;
    height: 0.36rem;
    text-align: center;
}
.orderConfirm .userMessage{
    margin: 0 0.2rem;
}
.orderConfirm .userMessage p{
    margin-bottom: 0.17rem;
}
.orderConfirm .userMessage p span{
    color: #f13d25;
}
.orderConfirm .userMessage img{
    width: 1.93rem;
}
.orderConfirm .shopList{
    margin: 0.3rem 0;
}
.orderConfirm .shopList li{
    margin-bottom: -0.01rem;
    padding: 0.24rem 0.2rem;
    height: 1.18rem;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
.orderConfirm .shopList li img{
    float: left;
    margin-right: 0.4rem;
    width: 1.19rem;
    height: 1.19rem;
}
.orderConfirm .shopList li .top .price{
    float: right;
    font-size: 0.32rem;
    color: #f13d25;
}
.orderConfirm .shopList li .bottom{
    margin-top: 0.35rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.22rem;
}
.orderConfirm .total{
    padding: 0 0.3rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;
    height: 0.6rem;
    line-height: 0.6rem;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    font-size: 0.22rem;
}
.orderConfirm .total .totalPrice{
    color: #f13d25;
}
 .button{
    display: flex;
    justify-content: space-around;
}
 .button button{
    width: 2.15rem;
    height: 0.55rem;
    line-height: 0.55rem;
    text-align: center;
    border: 0.01rem solid #f13d25;
    border-radius: 0.25rem;
    font-size: 0.24rem;
    color: #f13d25;
}
 .button button.submit{
    border: 0.01rem solid #333;
    color: #333;
}
.public li{
    padding: 0.2rem 0.2rem 0.6rem;
    border-radius: 0.08rem;
}
.public li .top{
    font-size: 0.18rem;
}
.public li .top img{
    vertical-align: middle;
    width: 0.22rem;
    height: 0.3rem;
}
.public li .top img.right{
    width: 0.1rem;
    height: 0.15rem;
}
.public li .top p{
    float: right;
    font-size: 0.22rem;
    color: #f13d25;
}
.public li .content{
    padding: 0.3rem 0;
    margin-bottom: 0.3rem;
}
.public li .content img{
    float: left;
    width: 1.82rem;
    height: 1.35rem;
}
.public li .content  .right{
    overflow: hidden;
    padding: 0.2rem 0.2rem;
    margin-left: 2rem;
    height: 0.95rem;
    background: #ededed;
    font-size: 0.18rem;
    color: #999;
}

.repair li .content img{
    width: 0.99rem;
    height: 1.3rem;
}
.repair li .content .right{
    position: relative;
    overflow: hidden;
    padding: 0.2rem 0.2rem;
    margin-left: 1.19rem;
    height: 0.9rem;
    background: #ededed;
    font-size: 0.18rem;
    color: #999;
}
.repair li .content .right div{
    position: absolute;
    bottom: 0.1rem;
    right: 0.1rem;
    width: 1.32rem;
    height: 0.43rem;
    line-height: 0.43rem;
    background: #f13d25;
    color: #fff;
    border-radius: 0.05rem;
    text-align: center;
}
.repair li .content .right div.detail{
    right: 1.52rem;
}
