#personCenter .top{
    text-align: center;
    background: url("../images/personal_bg.png") no-repeat;
    background-size:  100% 100%;
    font-size: 0.3rem;
    color: #fff;
}
#personCenter .top .avatar{
    margin: 0 auto;
    width: 1.74rem;
    height: 1.74rem;
    border: 0.07rem solid #e4e0df;
    border-radius: 50%;
}
#personCenter .top .name{
    margin: 0.13rem 0 0.1rem;
}
#personCenter .top .score{
    font-size: 0.24rem;
    margin-bottom: 0.19rem;
}
#personCenter.top  .bottom {
    height: 0.87rem;
    background: rgba(0,0,0,0.2);
}
#personCenter .bottom .bottom_item{
    margin-top: 0.1rem;
    display: inline-block;
    width: 30%;
}
#personCenter .bottom .bottom_item .num{
    font-size: 0.24rem;
}
#personCenter .top .bottom .line{
    height: 0.5rem;
    border-left: 1px solid #d6d6d6;
    vertical-align: super;
}
#personCenter ul{
    padding: 0.1rem 0.3rem 0;
    margin-bottom: 0.2rem;
    background: #fff;
}
#personCenter ul li{
    margin-top: 0.19rem;
    height: 0.7rem;
    line-height: 0.7rem;
    border-bottom: 1px solid #e7e7e7;
    font-size: 0.3rem;
}
#personCenter ul li a{
    display: inline-block;
    width: 100%;
}
#personCenter ul li:last-child{
    border-bottom: none;
}
#personCenter ul li img{
    float: right;
    margin-top: 0.2rem;
    width: 0.19rem;
    height: 0.3rem;
}
#personCenter .share{
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
#personCenter .share .content{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
}
#personCenter .share .share_title{
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.3rem;
    color: #666;
    border-bottom: 1px solid #e7e7e7;
}
#personCenter .share .bottom .item{
    display: inline-block;
    margin: 0.29rem 0;
    text-align: center;
    width: 32%;
}
#personCenter .share .bottom .item img{
    /*display: inline-block;*/
    width: 1.05rem;
    height: 1.05rem;
}