/*ä¸»header*/
.main_header{
    z-index: 10;
    /*padding: 0 0.3rem;*/
    position: fixed;
    background: #00c47e;
    height: 0.9rem;
    line-height: 0.9rem;
    width: 100%;
    text-align: center;
    color: #fff;
}
.main_header .left{
    float: left;
    text-align: left;
    width: 2rem;
}
.main_header a{
    color: #fff;
}
.main_header .left span{
    vertical-align: top;
}
.main_header .left img{
    margin: 0rem 0 0 0.3rem;
    vertical-align: middle;
    width: 0.2rem;
}
.main_header .title{
    display: inline-block;
    font-size: 0.42rem;
}
.main_header .right{
    float: right;
    text-align: right;
    width: 2rem;
    height: 0.9rem;
    margin-right: 0.3rem;
}
.main_header .right img{
    width: 0.48rem;
    vertical-align: middle;
}
/*tab*/
.footer{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgba(159,159,159,0.2);
    background: #fff;
    width: 100%;
    height: 1rem;
    text-align: center;
}
.footer a{
    width: 25%;
    margin-top: 0.05rem;
}
.footer a img{
    height: 0.48rem;
    width: auto;
}
.footer a p{
    font-size: 0.2rem;
    color: #a7adb3;
}
.footer a p.active{
    color: #00c47e;
}
.container{
    padding: 0.9rem 0 1rem;
    font-size: 0.3rem;
    background: #f6f6f6;
}